#ito-page{
  
  .information-page {
    padding-left: 280px;
    min-height: 100vh !important;

    header.header {
      box-shadow: 0 1px 9px rgba(0, 0, 0, 0.1);

      .navbar {
        &__items-right {
          a#profile {
            text-decoration: unset;
            color: #4C4C4C;
          }
        }
      }
    }

    .information-body {
      padding: 24px 34px 24px 60px;

      &__title {
        font-size: 24px;
        font-weight: 700;
        color: #232323;
      }

      .information-personal, .information-social {
        padding: 20px 50px;
        background: #FFFFFF;
        box-shadow: 0 1px 16px rgba(0, 0, 0, 0.08);
        border-radius: 16px;

        &__header {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .title {
            p {
              color: #232323;
              font-weight: 700;
              font-size: 16px;
            }
          }

          .button-edit {
            border: 1px solid #F05A28;
            background-color: white;
            border-radius: 25px;
            text-align: center;

            .btn {
              font-size: 16px;
              color: #F05A28;
              padding: 5px 25px;
              font-weight: 600;
              border-radius: 25px;
              &:hover{
                background-color: #F05A28;
                color: white;
              }
            }
          }
        }

        &__body {
          .avatar {
            img {
              width: 80%;
            }
          }

          .information-personal__content {
            .name-position {
              p.name {
                color: #F05A28;
                font-weight: 700;
                font-size: 24px;
                margin: 0;
              }

              span.position {
                color: #696969;
                font-size: 14px;
              }
            }

            .table-information {
              padding-top: 24px;
              table.table.table-striped {
                tbody {
                  th, td {
                    border: 0;
                  }

                  tr:nth-of-type(odd) {
                    background: rgba(240, 240, 240, 0.4);
                  }

                  th {
                    font-size: 14px;
                    color: #696969;
                    font-weight: 400;
                  }

                  td {
                    color: #232323;
                  }
                }
              }
            }
          }

          .information-social__content{
            .table-information {
              padding-top: 10px;
              table.table.table-striped {
                tbody {
                  th, td {
                    border: 0;
                  }

                  tr:nth-of-type(odd) {
                    background: #F6FDFF;
                  }

                  th {
                    font-size: 14px;
                    color: #696969;
                    font-weight: 400;
                  }

                  td {
                    color: #232323;
                    button{
                      background: transparent;
                      border: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}