@font-face {
  font-family: "Noto Sans";
  src: url(../../fonts/Noto_Sans/NotoSans-Regular.ttf);
}
@font-face {
  font-family: "Noto Sans Bold";
  src: url(../../fonts/Noto_Sans/NotoSans-Bold.ttf);
}
#ito-page {
  background-color: #f6fdff;
  font-family: "Noto Sans";
}
#ito-page header.header {
  background-color: white;
}
#ito-page header.header .navbar__items-right .dropdown-toggle {
  color: #4C4C4C;
  font-weight: 500;
}
#ito-page header.header .navbar__items-right .dropdown-toggle:after {
  content: none;
}
#ito-page section.ito-body {
  margin-top: 60px;
  padding-bottom: 120px;
  position: relative;
}
#ito-page section.ito-body:after {
  content: "";
  background: url("../../images/bg-left-bottom.png") no-repeat bottom left;
  position: absolute;
  width: 100%;
  height: 442px;
  bottom: 0;
  left: 0;
}
#ito-page section.ito-body:before {
  content: "";
  background: url("../../images/bg-right-top.png") no-repeat top right;
  position: absolute;
  width: 100%;
  height: 400px;
  top: -60px;
  right: 0;
}
#ito-page section.ito-body .login-form-group__outline {
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
}
#ito-page section.ito-body .login-form-group__outline .image-left {
  background: url(../../images/bg-login.png) no-repeat center;
  background-size: cover;
}
#ito-page section.ito-body .login-form-group__outline .image-left img {
  width: 100%;
}
#ito-page section.ito-body .login-form-group__outline .form-right #form-login {
  padding: 110px;
}
#ito-page section.ito-body .login-form-group__outline .form-right #form-login .form-login_title {
  text-align: center;
  background: linear-gradient(150.95deg, #72D3FF -4.34%, #137AC2 103.83%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 60px;
}
#ito-page section.ito-body .login-form-group__outline .form-right #form-login .form-login_title h2 {
  font-size: 32px;
  font-family: "Noto Sans Bold";
  line-height: 1.5;
}
#ito-page section.ito-body .login-form-group__outline .form-right #form-login .form .form-group {
  position: relative;
}
#ito-page section.ito-body .login-form-group__outline .form-right #form-login .form .form-group .custom-checkbox .custom-control-label {
  color: #696969;
}
#ito-page section.ito-body .login-form-group__outline .form-right #form-login .form .form-group .btn-toggle-pwd {
  position: absolute;
  right: 10px;
  top: 40px;
  cursor: pointer;
}
#ito-page section.ito-body .login-form-group__outline .form-right #form-login .form .cta-login {
  margin-top: 180px;
  background-color: #F05A28;
  border-radius: 25px;
}
#ito-page section.ito-body .login-form-group__outline .form-right #form-login .form .cta-login button.btn {
  font-size: 16px;
  color: white;
  margin: 5px auto;
  border-radius: 25px;
}
#ito-page section.ito-body .login-form-group__outline .form-right #form-login .form .cta-login button.btn:hover {
  background-color: #cb491d;
}
#ito-page section.ito-body .login-form-group__outline .form-right #form-login .form .register-text {
  text-align: center;
}
#ito-page section.ito-body .login-form-group__outline .form-right #form-login .form .register-text a {
  color: #F05A28;
}
#ito-page .modal#forgotPasswordModal .modal-dialog .modal-body {
  position: relative;
  text-align: center;
  padding: 3rem;
}
#ito-page .modal#forgotPasswordModal .modal-dialog .modal-body button.close {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 30px;
}
#ito-page .modal#forgotPasswordModal .modal-dialog .modal-body .form-forgot-password_title h3 {
  font-weight: 600;
}
#ito-page .modal#forgotPasswordModal .modal-dialog .modal-body .form-forgot-password_title p {
  color: #696969;
}
#ito-page .modal#forgotPasswordModal .modal-dialog .modal-body .form .form-group #forgotPassword {
  margin: 3rem auto;
  border-radius: 1rem;
}
#ito-page .modal#forgotPasswordModal .modal-dialog .modal-body .form .form-group.cta-forgot-password {
  background-color: #F05A28;
  border-radius: 25px;
}
#ito-page .modal#forgotPasswordModal .modal-dialog .modal-body .form .form-group.cta-forgot-password button.btn {
  font-size: 16px;
  color: white;
  margin: 5px auto;
}

@media screen and (max-width: 1440px) {
  #ito-page section.ito-body {
    padding-bottom: 60px;
  }
  #ito-page section.ito-body .login-form-group__outline .form-right #form-login {
    padding: 50px;
  }
  #ito-page section.ito-body .login-form-group__outline .form-right #form-login .form-login_title {
    margin-bottom: 10%;
  }
  #ito-page section.ito-body .login-form-group__outline .form-right #form-login .form .cta-login {
    margin-top: 15%;
  }
}
@media screen and (max-width: 1200px) {
  #ito-page section.ito-body {
    padding-bottom: 60px;
  }
  #ito-page section.ito-body .login-form-group__outline .form-right #form-login {
    padding: 5%;
  }
  #ito-page section.ito-body .login-form-group__outline .form-right #form-login .form .cta-login {
    margin-top: 15%;
  }
}
@media screen and (max-width: 990px) {
  #ito-page section.ito-body {
    padding-bottom: 60px;
  }
  #ito-page section.ito-body .login-form-group__outline .form-right #form-login {
    padding: 20px;
  }
  #ito-page section.ito-body .login-form-group__outline .form-right #form-login .form .cta-login {
    margin-top: 15px;
  }
}
#ito-page #menu-sidebar {
  background-color: #1a75ba;
  width: 280px;
  padding: 20px 15px;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1030;
}
#ito-page #menu-sidebar .logo-sidebar {
  width: 100%;
}
#ito-page #menu-sidebar .menu-sidebar {
  margin-top: 40px;
}
#ito-page #menu-sidebar .menu-sidebar ul.list-menu-item {
  list-style: none;
  padding: 0;
  width: 100%;
}
#ito-page #menu-sidebar .menu-sidebar ul.list-menu-item li.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}
#ito-page #menu-sidebar .menu-sidebar ul.list-menu-item li.menu-item a {
  text-decoration: unset;
}
#ito-page #menu-sidebar .menu-sidebar ul.list-menu-item li.menu-item a svg {
  width: 25px;
  margin-right: 13px;
}
#ito-page #menu-sidebar .menu-sidebar ul.list-menu-item li.menu-item a svg img {
  width: 100%;
}
#ito-page #menu-sidebar .menu-sidebar ul.list-menu-item li.menu-item a .title {
  color: white;
}
#ito-page #menu-sidebar .menu-sidebar ul.list-menu-item li.menu-item.active, #ito-page #menu-sidebar .menu-sidebar ul.list-menu-item li.menu-item:hover {
  background-color: #5196cc;
}
#ito-page #menu-sidebar .cta-logout {
  margin: 150px auto auto;
  background-color: #F05A28;
  border-radius: 25px;
  width: 80%;
  text-align: center;
}
#ito-page #menu-sidebar .cta-logout a.btn {
  font-size: 16px;
  color: white;
  margin: 5px auto;
  padding: 12px;
  border-radius: 25px;
}
#ito-page #menu-sidebar .cta-logout a.btn:hover {
  background-color: #cb491d;
}

@font-face {
  font-family: "Noto Sans";
  src: url(../../fonts/Noto_Sans/NotoSans-Regular.ttf);
}
@font-face {
  font-family: "Noto Sans Bold";
  src: url(../../fonts/Noto_Sans/NotoSans-Bold.ttf);
}
#ito-page section.ito-body .login-form-group__outline .form-right #form-login .form .form-group label span {
  color: #F05A28;
}
#ito-page section.ito-body .login-form-group__outline .form-right #form-login .form .form-group .form-check.radio-item {
  padding: 0;
}
#ito-page section.ito-body .login-form-group__outline .form-right #form-login .form .form-group .form-check.radio-item input[type=radio] {
  display: none;
}
#ito-page section.ito-body .login-form-group__outline .form-right #form-login .form .form-group .form-check.radio-item input[type=radio]:checked + label:before {
  border-color: #F05A28;
}
#ito-page section.ito-body .login-form-group__outline .form-right #form-login .form .form-group .form-check.radio-item input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 7px;
  left: 4px;
  content: "";
  display: block;
  background: #F05A28;
}
#ito-page section.ito-body .login-form-group__outline .form-right #form-login .form .form-group .form-check.radio-item label:before {
  content: "";
  display: inline-block;
  position: relative;
  top: 3px;
  margin: 0 5px 0 0;
  width: 18px;
  height: 18px;
  border-radius: 11px;
  border: 2px solid #777;
  background-color: transparent;
}
#ito-page .modal#verifyOtp .modal-dialog .modal-body {
  position: relative;
  text-align: center;
  padding: 3rem;
}
#ito-page .modal#verifyOtp .modal-dialog .modal-body button.close {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 30px;
}
#ito-page .modal#verifyOtp .modal-dialog .modal-body .form-forgot-password_title h3 {
  font-weight: 600;
  font-family: "Noto Sans Bold";
}
#ito-page .modal#verifyOtp .modal-dialog .modal-body .form-forgot-password_title p {
  color: #696969;
}
#ito-page .modal#verifyOtp .modal-dialog .modal-body .form-forgot-password_title p.font-weight-bold {
  color: #3a3a3a;
}
#ito-page .modal#verifyOtp .modal-dialog .modal-body .form.digit-group .form-row .form-group {
  width: 50px;
  height: 50px;
  border: 1px solid #F0F0F0;
  border-radius: 5px;
  background-color: rgba(240, 240, 240, 0.2);
  text-align: center;
}
#ito-page .modal#verifyOtp .modal-dialog .modal-body .form.digit-group .form-row .form-group:focus-visible {
  outline-color: #F05A28;
}
#ito-page .modal#verifyOtp .modal-dialog .modal-body .form.digit-group .cta-verify {
  background-color: #F05A28;
  border-radius: 25px;
}
#ito-page .modal#verifyOtp .modal-dialog .modal-body .form.digit-group .cta-verify button.btn {
  font-size: 16px;
  color: white;
  margin: 5px auto;
}

#ito-page .information-page {
  padding-left: 280px;
  min-height: 100vh !important;
}
#ito-page .information-page header.header {
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.1);
}
#ito-page .information-page .information-body {
  padding: 24px 34px 24px 60px;
}
#ito-page .information-page .information-body__title {
  font-size: 24px;
  font-weight: 700;
  color: #232323;
}
#ito-page .information-page .information-body .information-personal, #ito-page .information-page .information-body .information-social {
  padding: 20px 50px;
  background: #FFFFFF;
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}
#ito-page .information-page .information-body .information-personal__header, #ito-page .information-page .information-body .information-social__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#ito-page .information-page .information-body .information-personal__header .title p, #ito-page .information-page .information-body .information-social__header .title p {
  color: #232323;
  font-weight: 700;
  font-size: 16px;
}
#ito-page .information-page .information-body .information-personal__header .button-edit, #ito-page .information-page .information-body .information-social__header .button-edit {
  border: 1px solid #F05A28;
  background-color: white;
  border-radius: 25px;
  text-align: center;
}
#ito-page .information-page .information-body .information-personal__header .button-edit .btn, #ito-page .information-page .information-body .information-social__header .button-edit .btn {
  font-size: 16px;
  color: #F05A28;
  padding: 5px 25px;
  font-weight: 600;
  border-radius: 25px;
}
#ito-page .information-page .information-body .information-personal__header .button-edit .btn:hover, #ito-page .information-page .information-body .information-social__header .button-edit .btn:hover {
  background-color: #F05A28;
  color: white;
}
#ito-page .information-page .information-body .information-personal__body .avatar img, #ito-page .information-page .information-body .information-social__body .avatar img {
  width: 80%;
}
#ito-page .information-page .information-body .information-personal__body .information-personal__content .name-position p.name, #ito-page .information-page .information-body .information-social__body .information-personal__content .name-position p.name {
  color: #F05A28;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}
#ito-page .information-page .information-body .information-personal__body .information-personal__content .name-position span.position, #ito-page .information-page .information-body .information-social__body .information-personal__content .name-position span.position {
  color: #696969;
  font-size: 14px;
}
#ito-page .information-page .information-body .information-personal__body .information-personal__content .table-information, #ito-page .information-page .information-body .information-social__body .information-personal__content .table-information {
  padding-top: 24px;
}
#ito-page .information-page .information-body .information-personal__body .information-personal__content .table-information table.table.table-striped tbody th, #ito-page .information-page .information-body .information-personal__body .information-personal__content .table-information table.table.table-striped tbody td, #ito-page .information-page .information-body .information-social__body .information-personal__content .table-information table.table.table-striped tbody th, #ito-page .information-page .information-body .information-social__body .information-personal__content .table-information table.table.table-striped tbody td {
  border: 0;
}
#ito-page .information-page .information-body .information-personal__body .information-personal__content .table-information table.table.table-striped tbody tr:nth-of-type(odd), #ito-page .information-page .information-body .information-social__body .information-personal__content .table-information table.table.table-striped tbody tr:nth-of-type(odd) {
  background: rgba(240, 240, 240, 0.4);
}
#ito-page .information-page .information-body .information-personal__body .information-personal__content .table-information table.table.table-striped tbody th, #ito-page .information-page .information-body .information-social__body .information-personal__content .table-information table.table.table-striped tbody th {
  font-size: 14px;
  color: #696969;
  font-weight: 400;
}
#ito-page .information-page .information-body .information-personal__body .information-personal__content .table-information table.table.table-striped tbody td, #ito-page .information-page .information-body .information-social__body .information-personal__content .table-information table.table.table-striped tbody td {
  color: #232323;
}
#ito-page .information-page .information-body .information-personal__body .information-social__content .table-information, #ito-page .information-page .information-body .information-social__body .information-social__content .table-information {
  padding-top: 10px;
}
#ito-page .information-page .information-body .information-personal__body .information-social__content .table-information table.table.table-striped tbody th, #ito-page .information-page .information-body .information-personal__body .information-social__content .table-information table.table.table-striped tbody td, #ito-page .information-page .information-body .information-social__body .information-social__content .table-information table.table.table-striped tbody th, #ito-page .information-page .information-body .information-social__body .information-social__content .table-information table.table.table-striped tbody td {
  border: 0;
}
#ito-page .information-page .information-body .information-personal__body .information-social__content .table-information table.table.table-striped tbody tr:nth-of-type(odd), #ito-page .information-page .information-body .information-social__body .information-social__content .table-information table.table.table-striped tbody tr:nth-of-type(odd) {
  background: #F6FDFF;
}
#ito-page .information-page .information-body .information-personal__body .information-social__content .table-information table.table.table-striped tbody th, #ito-page .information-page .information-body .information-social__body .information-social__content .table-information table.table.table-striped tbody th {
  font-size: 14px;
  color: #696969;
  font-weight: 400;
}
#ito-page .information-page .information-body .information-personal__body .information-social__content .table-information table.table.table-striped tbody td, #ito-page .information-page .information-body .information-social__body .information-social__content .table-information table.table.table-striped tbody td {
  color: #232323;
}
#ito-page .information-page .information-body .information-personal__body .information-social__content .table-information table.table.table-striped tbody td button, #ito-page .information-page .information-body .information-social__body .information-social__content .table-information table.table.table-striped tbody td button {
  background: transparent;
  border: 0;
}

#ito-page .update-account-page {
  padding-left: 280px;
  min-height: 100vh !important;
}
#ito-page .update-account-page header.header {
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.1);
}
#ito-page .update-account-page .update-account-body {
  padding: 24px 34px 24px 60px;
}
#ito-page .update-account-page .update-account-body__title {
  font-size: 24px;
  font-weight: 700;
  color: #232323;
}
#ito-page .update-account-page .update-account-body .update-account-personal {
  padding: 4% 20%;
  background: #FFFFFF;
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}
#ito-page .update-account-page .update-account-body .update-account-personal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#ito-page .update-account-page .update-account-body .update-account-personal__header .title p {
  padding: 0 15px;
  color: #232323;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 24px;
  text-transform: uppercase;
}
#ito-page .update-account-page .update-account-body .update-account-personal__header .button-edit {
  border: 1px solid #F05A28;
  background-color: white;
  border-radius: 25px;
  text-align: center;
}
#ito-page .update-account-page .update-account-body .update-account-personal__header .button-edit .btn {
  font-size: 16px;
  color: #F05A28;
  padding: 5px 25px;
  font-weight: 600;
}
#ito-page .update-account-page .update-account-body .update-account-personal__body .form .form-group {
  padding: 0 15px;
  position: relative;
}
#ito-page .update-account-page .update-account-body .update-account-personal__body .form .form-group .custom-checkbox .custom-control-label {
  color: #696969;
}
#ito-page .update-account-page .update-account-body .update-account-personal__body .form .form-group .btn-toggle-pwd {
  position: absolute;
  right: 25px;
  top: 40px;
  cursor: pointer;
}
#ito-page .update-account-page .update-account-body .update-account-personal__body .form .cta-edit.btn {
  border: 1px solid #F05A28;
  background-color: white;
  border-radius: 25px;
  text-align: center;
  font-size: 16px;
  color: #F05A28;
  padding: 7px 30px;
  margin-top: 40px;
  font-weight: 600;
}
#ito-page .update-account-page .update-account-body .update-account-personal__body .form .cta-edit.btn:hover {
  background-color: #F05A28;
  color: white;
}

#ito-page .manage-social-page {
  padding-left: 280px;
  min-height: 100vh !important;
}
#ito-page .manage-social-page header.header {
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.1);
}
#ito-page .manage-social-page .manage-social-body {
  padding: 24px 34px 24px 60px;
}
#ito-page .manage-social-page .manage-social-body__title {
  font-size: 24px;
  font-weight: 700;
  color: #232323;
}
#ito-page .manage-social-page .manage-social-body .manage-social-personal {
  padding: 4% 20%;
  background: #FFFFFF;
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}
#ito-page .manage-social-page .manage-social-body .manage-social-personal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
#ito-page .manage-social-page .manage-social-body .manage-social-personal__header .title a.tooltip-btn {
  text-decoration: unset;
  display: flex;
  align-items: center;
}
#ito-page .manage-social-page .manage-social-body .manage-social-personal__header .title a.tooltip-btn svg {
  width: 24px;
  height: 24px;
}
#ito-page .manage-social-page .manage-social-body .manage-social-personal__header .title a.tooltip-btn p {
  padding: 0 15px;
  color: #232323;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0;
  text-transform: uppercase;
}
#ito-page .manage-social-page .manage-social-body .manage-social-personal__header .button-edit {
  border: 1px solid #F05A28;
  background-color: white;
  border-radius: 25px;
  text-align: center;
}
#ito-page .manage-social-page .manage-social-body .manage-social-personal__header .button-edit .btn {
  font-size: 16px;
  color: #F05A28;
  padding: 5px 25px;
  font-weight: 600;
}
#ito-page .manage-social-page .manage-social-body .manage-social-personal__body .form .form-group {
  padding: 0 15px;
  position: relative;
}
#ito-page .manage-social-page .manage-social-body .manage-social-personal__body .form .form-group .custom-checkbox .custom-control-label {
  color: #696969;
}
#ito-page .manage-social-page .manage-social-body .manage-social-personal__body .form .form-group .btn-toggle-pwd {
  position: absolute;
  right: 25px;
  top: 40px;
  cursor: pointer;
}
#ito-page .manage-social-page .manage-social-body .manage-social-personal__body .form .cta-edit.btn {
  border: 1px solid #F05A28;
  background-color: white;
  border-radius: 25px;
  text-align: center;
  font-size: 16px;
  color: #F05A28;
  padding: 7px 30px;
  margin-top: 40px;
  font-weight: 600;
}
#ito-page .manage-social-page .manage-social-body .manage-social-personal__body .form .cta-edit.btn:hover {
  background-color: #F05A28;
  color: white;
}

.tooltip {
  width: 500px !important;
}
.tooltip.show {
  opacity: 1 !important;
}
.tooltip .arrow:after, .tooltip .arrow:before {
  display: none;
}
.tooltip .tooltip-inner {
  background: #FFFFFF;
  opacity: 1;
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100% !important;
  max-width: 500px !important;
  text-align: left;
  color: #696969;
}

/*# sourceMappingURL=main.css.map */
