#ito-page {
  .manage-social-page {
    padding-left: 280px;
    min-height: 100vh !important;

    .manage-social-body {
      padding: 24px 34px 24px 60px;

      &__title {
        font-size: 24px;
        font-weight: 700;
        color: #232323;
      }

      .manage-social-personal {
        background: #FFFFFF;
        box-shadow: 0 1px 16px rgba(0, 0, 0, 0.08);
        border-radius: 16px;

        &__header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 4% 20% 0;

          .title {
            a.tooltip-btn {
              text-decoration: unset;
              display: flex;
              align-items: center;

              svg {
                width: 24px;
                height: 24px;
              }
              p {
                padding: 0 15px;
                color: #232323;
                font-weight: 700;
                font-size: 16px;
                margin-bottom: 0;
                text-transform: uppercase;
              }
            }
            p{
              padding: 0 15px;
              color: #232323;
              font-weight: 700;
              font-size: 16px;
              margin-bottom: 0;
              text-transform: uppercase;
            }
          }

          .button-edit {
            border: 1px solid #F05A28;
            background-color: white;
            border-radius: 25px;
            text-align: center;

            .btn {
              font-size: 16px;
              color: #F05A28;
              padding: 5px 25px;
              font-weight: 600;
            }
          }
        }

        &__body {
          .form {
            .form-input {
              padding: 20px 20%;

              .form-group {
                padding: 0 15px;
                position: relative;

                label {
                  font-weight: 600;
                  font-size: 14px;
                }

                .input-group {
                  .input-group-prepend {
                    .input-group-text {
                      padding: 10px;
                      border-right: 0;
                      background: white
                    }
                  }

                  .form-control {
                    border-left: 0;
                    padding: 10px;
                    height: auto;
                  }

                  .btn-plus {
                    position: absolute;
                    right: 8px;
                    top: 8px;
                    cursor: pointer;
                    border: 0;
                    background: transparent;
                  }
                }
              }
            }

            .form-button {
              padding: 0 5%;
              .btn {
                border: 1px solid #F05A28;
                background-color: white;
                border-radius: 25px;
                text-align: center;
                font-size: 16px;
                color: #F05A28;
                padding: 7px 30px;
                font-weight: 600;

                &.cta-cancel {
                }

                &.cta-save {
                  color: #696969;
                  border: 0;
                  background: #F0F0F0;
                }


                &:hover {
                  background-color: #F05A28;
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
}

.tooltip {
  width: 500px !important;
  &.show{
    opacity: 1 !important;
  }
  .arrow {
    &:after,&:before {
      display: none;
    }
  }

  .tooltip-inner {
    background: #FFFFFF;
    opacity: 1;
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100% !important;
    max-width: 500px !important;
    text-align: left;
    color: #696969;
  }
}

@media screen and (max-width: 1024px) {
  #ito-page {
    #menu-sidebar {
      width: 250px;

      ul.list-menu-item li.menu-item {
        font-size: 14px;
      }
    }

    .manage-social-page {
      padding-left: 250px;
    }
  }
}

@media screen and (max-width: 768px) {
  #ito-page {
    #menu-sidebar {
      display: none;
    }

    .manage-social-page {
      padding-left: 0;

      .manage-social-body {
        padding: 20px;

        .manage-social-personal {
          padding: 10px;

          &__header {
            padding: 10px 20px;
          }
          &__body {
            .form {
              .form-input {
                padding: 20px
              }
            }
          }
        }
      }
    }

    header.header {
      .navbar {
        button.navbar-toggler {
          position: absolute;
          left: 0;
          top: 0;
          padding: 0.75rem;
          border-color: transparent;
          display: block;
        }

        &-brand {
          padding-left: 50px;
        }

        &__items-mobile {
          &.show {
            display: block;
            position: fixed;
            width: 80%;
            height: 100vh;
            left: 0;
            top: 0;
            z-index: 100;
            background: #1A75BA;
            box-shadow: 7px 0 18px rgba(0, 0, 0, 0.1);
            border-radius: 0 8px 0 0;
            animation: slideShow 0.35s ease;
            padding: 0 15px;
          }

          .menu-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            width: 100%;
            position: relative;

            .btn-close {
              background-color: transparent;
              border: 0;
              padding: 0;

              svg {
                height: 30px;
                width: 30px;
              }
            }

            .dropdown-buttons {
              display: flex;

              .dropdown-toggle {
                color: #FFF;
                font-weight: 500;

                &:after {
                  content: none;
                }

                svg {
                  path {
                    fill: #FFFFFF;
                  }
                }
              }
            }

            &:after {
              content: "";
              width: 100%;
              height: 2px;
              border-top: 2px solid #FFF;
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
            }
          }

          .list-menu {
            margin-top: 15px;

            ul.menu-item {
              list-style: none;
              padding: 0;
              width: 100%;

              li.menu-item {
                display: flex;
                align-items: center;
                padding: 10px;
                border-radius: 4px;
                cursor: pointer;
                margin-bottom: 10px;

                a {
                  text-decoration: unset;

                  svg {
                    width: 25px;
                    margin-right: 13px;

                    img {
                      width: 100%;
                    }
                  }

                  .title {
                    color: white;
                  }
                }

                &.active, &:hover {
                  background-color: #5196cc;
                }
              }
            }
          }

          .cta-logout {
            background-color: #F05A28;
            margin: auto;
            border-radius: 25px;
            padding: 5px;
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;

            a.btn {
              font-size: 16px;
              color: white;
              margin: auto;
              border-radius: 25px;

              &:hover {
                background-color: #cb491d;
              }
            }
          }
        }
      }
    }
  }
}