#ito-page {
  .manage-social-page {
    padding-left: 280px;
    min-height: 100vh !important;

    .manage-social-body {
      padding: 24px 34px 24px 60px;

      &__title {
        font-size: 24px;
        font-weight: 700;
        color: #232323;
      }

      .manage-social-personal {
        background: #FFFFFF;
        box-shadow: 0 1px 16px rgba(0, 0, 0, 0.08);
        border-radius: 16px;

        &__header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 4% 20% 0;

          .title {
            a.tooltip-btn {
              text-decoration: unset;
              display: flex;
              align-items: center;

              svg {
                width: 24px;
                height: 24px;
              }
              p {
                padding: 0 15px;
                color: #232323;
                font-weight: 700;
                font-size: 16px;
                margin-bottom: 0;
                text-transform: uppercase;
              }
            }
            p{
              padding: 0 15px;
              color: #232323;
              font-weight: 700;
              font-size: 16px;
              margin-bottom: 0;
              text-transform: uppercase;
            }
          }

          .button-edit {
            border: 1px solid #F05A28;
            background-color: white;
            border-radius: 25px;
            text-align: center;

            .btn {
              font-size: 16px;
              color: #F05A28;
              padding: 5px 25px;
              font-weight: 600;
            }
          }
        }

        &__body {
          .form {
            .form-input {
              padding: 20px 20%;

              .form-group {
                padding: 0 15px;
                position: relative;

                label {
                  font-weight: 600;
                  font-size: 14px;
                }

                .input-group {
                  .input-group-prepend {
                    .input-group-text {
                      padding: 10px;
                      border-right: 0;
                      background: white
                    }
                  }

                  .form-control {
                    border-left: 0;
                    padding: 10px;
                    height: auto;
                  }

                  .btn-plus {
                    position: absolute;
                    right: 8px;
                    top: 8px;
                    cursor: pointer;
                    border: 0;
                    background: transparent;
                  }
                }
              }
            }

            .form-button {
              padding: 0 5%;
              .btn {
                border: 1px solid #F05A28;
                background-color: white;
                border-radius: 25px;
                text-align: center;
                font-size: 16px;
                color: #F05A28;
                padding: 7px 30px;
                font-weight: 600;

                &.cta-cancel {
                }

                &.cta-save {
                  color: #696969;
                  border: 0;
                  background: #F0F0F0;
                }


                &:hover {
                  background-color: #F05A28;
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
}

.tooltip {
  width: 500px !important;
  &.show{
    opacity: 1 !important;
  }
  .arrow {
    &:after,&:before {
      display: none;
    }
  }

  .tooltip-inner {
    background: #FFFFFF;
    opacity: 1;
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100% !important;
    max-width: 500px !important;
    text-align: left;
    color: #696969;
  }
}