#ito-page {
  .manage-bank-page {
    padding-left: 280px;
    min-height: 100vh !important;
    background-color: #F6FDFF;

    .manage-bank-body {
      padding: 24px 34px 24px 60px;

      &__title {
        font-size: 24px;
        font-weight: 700;
        color: #232323;
      }

      .manage-bank-personal, .manage-bank-social {
        padding: 20px 50px;
        background: #FFFFFF;
        box-shadow: 0 1px 16px rgba(0, 0, 0, 0.08);
        border-radius: 16px;

        .mobile{
          display: none;
        }

        &__header {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .title {
            p {
              color: #232323;
              font-weight: 700;
              font-size: 16px;
            }
          }

          .button-edit {
            border: 1px solid #F05A28;
            background-color: white;
            border-radius: 25px;
            text-align: center;

            .btn {
              font-size: 16px;
              color: #F05A28;
              padding: 5px 25px;
              font-weight: 600;
              border-radius: 25px;

              &:hover {
                background-color: #F05A28;
                color: white;
              }
            }
          }
        }

        &__body {
          .manage-bank-personal__content {
            .name-position {
              p.name {
                color: #F05A28;
                font-weight: 700;
                font-size: 24px;
                margin: 0;
              }

              span.position {
                color: #696969;
                font-size: 14px;
              }
            }

            .table-manage-bank {
              padding-top: 10px;

              table.table.table-striped {
                thead {
                  background-color: #1A75BA;
                  color: white;

                  tr {
                    th {
                      vertical-align: middle;
                      border: 0;

                      &:first-child {
                        border-radius: 7px 0 0 7px;
                      }

                      &:last-child {
                        border-radius: 0 7px 7px 0;
                      }
                    }
                  }
                }

                tbody {
                  td {
                    border: 0;
                  }

                  tr:nth-of-type(odd) {
                    background: #F6FDFF;
                  }

                  td {
                    color: #232323;
                    vertical-align: middle;

                    button {
                      background: transparent;
                      border: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #ito-page {
    #menu-sidebar {
      width: 250px;

      ul.list-menu-item li.menu-item {
        font-size: 14px;
      }
    }

    .manage-bank-page {
      padding-left: 250px;
    }
  }
}

@media screen and (max-width: 768px) {
  #ito-page {
    #menu-sidebar {
      display: none;
    }

    .manage-bank-page {
      padding-left: 0;

      .manage-bank-body {
        padding: 20px;

        .manage-bank-personal {
          padding: 10px;

          .table-manage-bank {
            padding-top: 10px;

            table.table.table-striped {
              tbody {
                td {
                  button {
                    padding: 0;
                  }
                }
              }
            }
          }
        }
      }
    }

    header.header {
      .navbar {
        button.navbar-toggler {
          position: absolute;
          left: 0;
          top: 0;
          padding: 0.75rem;
          border-color: transparent;
          display: block;
        }

        &-brand {
          padding-left: 50px;
        }

        &__items-mobile {
          &.show {
            display: block;
            position: fixed;
            width: 80%;
            height: 100vh;
            left: 0;
            top: 0;
            z-index: 100;
            background: #1A75BA;
            box-shadow: 7px 0 18px rgba(0, 0, 0, 0.1);
            border-radius: 0 8px 0 0;
            animation: slideShow 0.35s ease;
            padding: 0 15px;
          }

          .menu-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            width: 100%;
            position: relative;

            .btn-close {
              background-color: transparent;
              border: 0;
              padding: 0;

              svg {
                height: 30px;
                width: 30px;
              }
            }

            .dropdown-buttons {
              display: flex;

              .dropdown-toggle {
                color: #FFF;
                font-weight: 500;

                &:after {
                  content: none;
                }

                svg {
                  path {
                    fill: #FFFFFF;
                  }
                }
              }
            }

            &:after {
              content: "";
              width: 100%;
              height: 2px;
              border-top: 2px solid #FFF;
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
            }
          }

          .list-menu {
            margin-top: 15px;

            ul.menu-item {
              list-style: none;
              padding: 0;
              width: 100%;

              li.menu-item {
                display: flex;
                align-items: center;
                padding: 10px;
                border-radius: 4px;
                cursor: pointer;
                margin-bottom: 10px;

                a {
                  text-decoration: unset;

                  svg {
                    width: 25px;
                    margin-right: 13px;

                    img {
                      width: 100%;
                    }
                  }

                  .title {
                    color: white;
                  }
                }

                &.active, &:hover {
                  background-color: #5196cc;
                }
              }
            }
          }

          .cta-logout {
            background-color: #F05A28;
            margin: auto;
            border-radius: 25px;
            padding: 5px;
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;

            a.btn {
              font-size: 16px;
              color: white;
              margin: auto;
              border-radius: 25px;

              &:hover {
                background-color: #cb491d;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  #ito-page {
    header.header {
      .navbar {
        &-brand {
          padding: 0;
        }
      }
    }

    .manage-bank-page {
      .manage-bank-body {
        padding: 15px;

        .manage-bank-personal {
          &__body {
            .desktop {
              display: none;
            }

            .table-mange-bank.mobile {
              display: block;
              .tables {
                .table-item {
                  padding: 7px 15px;
                  border-radius: 8px;
                  border: 1px solid #F0F0F0;
                  margin-bottom: 16px;

                  .table-li {
                    &:not(:last-child) {
                      margin-bottom: 15px;
                    }

                    .title {
                      width: 40%;
                      color: #696969;
                    }

                    .content {
                      width: 60%;
                      font-weight: 600;
                      text-transform: uppercase;

                      .btn {
                        border: 0;
                        background-color: transparent;
                        padding-right: 0;
                      }
                    }
                  }

                  hr {
                    margin: 5px;
                  }

                  .btn {
                    &:focus {
                      box-shadow: unset;
                    }
                  }

                }
              }
            }
          }
        }
      }
    }
  }
}